<div ng-include="" src="'view/partials/guestHeader.html'" ng-show="!isLoggedIn"></div>
<div ng-include="" src="'view/partials/userHeader.html'" ng-show="isLoggedIn"></div>
<div class="container">
	<div>
		<div class="row">
			<div class="col-md-3 navigation">
				<div ng-include="" src="'../view/partials/nav.html'"></div>
      </div>
      <div class="col-md-9">
        <div class="row thumbnail padding-10" id="homeContentBox">
					<h4 ng-show="labelError!=null" class="center"> <span class="label label-danger"> {{ labelError }} </span></h4>
					<div ng-repeat="article in articles">
						<div class="row">
							<div class="col-sm-2 col-lg-2 col-md-2" id="homeImageBox">
								<img src="http://placehold.it/120x120" alt="" class="thumbnail margin-default">
							</div>
							<div class="col-sm-10 col-lg-10 col-md-10">
								<div>
									<h6 class="pull-right"> {{ article.created_at | timeAgo }} </h6>
									<h5 class="margin-top-20">
										<a ng-click="show(article.id)">{{ article.title }}</a>
									</h5>
									<h5> {{ dollarCurrency }}{{ article.price }} </h5>
									<h6> {{ article.city.name }} </h6>
								</div>
							</div>
						</div>
						<hr class="margin-top-5 margin-bottom-5">
					</div>
        </div>
				<h1 class="center"><span class="label label-success">{{ labelLoading }}</span></h1>
      </div>
    </div>
	</div>
</div>
