<div>
	<div class="row">
        <div class="col-md-6">
            <p class="lead">Chon vung ban muon giao dich</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Da nang</a>
                <a href="#" class="list-group-item">Ha noi</a>
                <a href="#" class="list-group-item">Quang nam</a>
            </div>
        </div>

        <div class="col-md-5 col-md-offset-1 col-xs-offset-1">
          <div class="row carousel-holder">
						<img src="images/viet_nam_map.jpg" width="360" height="550" class="img-responsive">
          </div>
        </div>
</div>
