#loginForgotPasswordBox {
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px;
}

#loginSignupBox {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%;
}

#loginSigninBox {
  float:right;
  font-size: 85%;
  position: relative;
  top:-10px;
}
