.navigation {
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 24%;
  margin-right: 1%;
}
.nav-tabs {
  background-color: #d8cebd;
}
.nav-tabs li {
  width: 50%;
}
.nav-tabs li a{
  margin: 0px;
}

.nav-tabs li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
