.navigation {
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 24%;
  margin-right: 1%;
}
.nav-tabs {
  background-color: #d8cebd;
}
.nav-tabs li {
  width: 50%;
}
.nav-tabs li a{
  margin: 0px;
}

.nav-tabs li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

@charset "utf-8";

/* ---------------------------------------------
 Common Set 
--------------------------------------------- */
.menu {
  padding: 0px;
  margin: 0px;
}

.menu .iterate a:link,
.menu .iterate a:visited,
.menu .iterate a:hover,
.menu .iterate a:active {
  color: #e07513;
}

a:hover, a:active { text-decoration: none; }

.menu .iterate {
  margin: 0 auto;
  padding: 0;
}

.menu .iterate li { list-style: none; }

.menu .iterate li a {
  display: table;
  margin-top: 1px;
  padding: 14px 10px;
  width: 100%;
  background: #333;
  text-decoration: none;
  text-align: left;
  vertical-align: middle;
  color: #e07513;
  overflow: hidden;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.menu .iterate > li:first-child a { margin-top: 0; }

.menu .iterate li a:hover {
  background: #ddd;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.menu .iterate li ul {
  margin: 0;
  padding: 0;
}

.menu .iterate li li a {
  display: block;
  margin-top: 0;
  padding: 0 10px;
  height: 0;
  background: #C6DDD9;
  color: #1F3D39;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.menu .iterate > li:hover li a {
  display: table;
  margin-top: 1px;
  padding: 10px;
  width: 100%;
  height: 1em;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.menu .iterate > li:hover li a:hover {
  background: #A4CAC8;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.tab-content span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #e07513;
}
