input[type=radio].radioButtonCreateArticle {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type=radio].radioButtonCreateArticle+ label.radioLabelCreateArticle {
    padding-left: 23px;
    height: 18px;
    display: inline-block;
    line-height: 18px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 18px;
    vertical-align: middle;
    cursor: pointer;
}
input[type=radio].radioButtonCreateArticle:checked+ label.radioLabelCreateArticle {
    background-position: 0 -18px;
}
.radioLabelCreateArticle {
  margin-right: 20px;
}
label.radioLabelCreateArticle {
    background-image: url('../../images/radioBtn.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.articleCreateImageBox {
  height: 300px;
  overflow: scroll;
}

.articleCreateImageBox .caption {
  height: 50px;
}
