<header class="fh5co-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <h1><i class="sl-icon-energy"></i><a href="index.html">Web rao vat</a></h1>
            <nav role="navigation">
                <ul>
                  <li>
                    <a href="#/home">Home</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="download"> {{ email }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li><a href="">Cac tin da dang</a></li>
                      <li><a href="">Thong tin ca nhan</a></li>
                      <li><a href="">Lich su giao dich</a></li>
                      <li><a href="#/logout">Dang xuat</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#/about">Dang tin mien phi about</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
