<header class="fh5co-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <h1><i class="sl-icon-energy"></i><a href="index.html"> {{ titleWebPage }}</a></h1>
            <nav role="navigation">
                <ul>
                  <li>
                    <a href="#/home">{{ labelHome }}</a>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="download"> {{ email }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="download">
                      <li><a href=""> {{ labelPostedArticles }}</a></li>
                      <li><a href=""> {{ labelProfile }}</a></li>
                      <li><a href=""> {{ labelHistoryTransaction }}</a></li>
                      <li><a href="#/logout">{{ labelLogout }}</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="#/about">{{ labelPostArticleFree }}</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
